<ion-content padding>
  <ion-button expand="block" (click)="previewLayout()">Preview Answer Sheet Layout</ion-button>
  <ion-button expand="block" (click)="downloadPDF()">Generate Printable Answer Sheet</ion-button>

  <div *ngIf="layoutZones.length > 0">
    <h3>Answer Sheet Layout Zones:</h3>
    <pre>{{ layoutZones | json }}</pre>
    <!-- In future, render a visual preview using canvas or SVG -->
  </div>

  <ion-button (click)="generateLayout()">Generate Layout</ion-button>

</ion-content>
