<!-- question-generator.page.html -->

<ion-header>
  <ion-toolbar>
    <!-- Back button to return to TosPage -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tos"></ion-back-button>
    </ion-buttons>
    <ion-title>Question Generator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Question Type Selection -->
  <ion-item>
    <ion-label>Question Type</ion-label>
    <ion-select [(ngModel)]="selectedQuestionType">
      <ion-select-option value="mcq">Multiple Choice</ion-select-option>
      <ion-select-option value="truefalse">True/False</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Number of Questions -->
  <ion-item>
    <ion-label>Number of Questions</ion-label>
    <ion-input type="number" [(ngModel)]="numOfQuestions"></ion-input>
  </ion-item>

  <!-- Generate Questions Button -->
  <ion-button (click)="generateQuestions()">Generate Questions</ion-button>

  <!-- Display Generated Questions -->
  <ion-list>
    <ion-item *ngFor="let question of generatedQuestions">
      <ion-label>{{ question.question }}</ion-label>
      <ion-select [(ngModel)]="question.selectedAnswer">
        <ion-select-option *ngFor="let option of question.options" [value]="option">{{ option }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
