<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/teacher-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Tester</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">
  <ion-select placeholder="Select an Answer Sheet" (ionChange)="onSheetSelect($event.detail.value)">
    <ion-select-option *ngFor="let sheet of answerSheets" [value]="sheet.id">
      {{ sheet.exam_title }} - {{ sheet.subject }} - Grade {{ sheet.grade_level }}
    </ion-select-option>
  </ion-select>

  <canvas #overlayCanvas width="1000" height="1400" style="border:1px solid #ccc; margin-top: 20px;"></canvas>
</ion-content>