<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/teacher-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Students</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Add Class -->
  <ion-item>
    <ion-label position="floating">Class Name</ion-label>
    <ion-input [(ngModel)]="className" required></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="addClass()">Add Class</ion-button>

  <!-- List of Classes -->
  <ion-list>
    <ion-item *ngFor="let classItem of classes">
      <ion-label (click)="selectClass(classItem)">
        {{ classItem.name }}
      </ion-label>

      <!-- Class Edit Buttons -->
      <ion-button slot="end" *ngIf="!isEditingClass[classItem.id]" (click)="startEditingClass(classItem)">
        Edit
      </ion-button>
      <ion-button slot="end" *ngIf="isEditingClass[classItem.id]" (click)="saveEditedClass(classItem)">
        Save
      </ion-button>
      <ion-button slot="end" *ngIf="isEditingClass[classItem.id]" (click)="cancelEditClass(classItem)">
        Cancel
      </ion-button>
      <ion-button slot="end" (click)="deleteClass(classItem)">
        Delete
      </ion-button>

      <ion-input *ngIf="isEditingClass[classItem.id]" [(ngModel)]="editedClassName[classItem.id]" placeholder="Edit class name"></ion-input>
    </ion-item>
  </ion-list>

  <!-- Class Students Section -->
  <ion-card *ngIf="selectedClass">
    <ion-card-header>
      <ion-card-title>{{ selectedClass.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Add Student Form -->
      <ion-item>
        <ion-label position="floating">Student Name</ion-label>
        <ion-input [(ngModel)]="newStudent.name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Grade Level</ion-label>
        <ion-select [(ngModel)]="selectedGradeLevel">
          <ion-select-option *ngFor="let grade of gradeLevels" [value]="grade">{{ grade }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="full" (click)="addStudent()">Add Student</ion-button>

      <!-- List of Students -->
      <ion-list>
        <ion-item *ngFor="let student of selectedClass.students">
          <ion-label>
            {{ student.name }} ({{ student.grade_level }})
          </ion-label>

          <!-- Student Edit Buttons -->
          <ion-button slot="end" *ngIf="!isEditingStudent[student.id]" (click)="startEditingStudent(student)">
            Edit
          </ion-button>
          <ion-button slot="end" *ngIf="isEditingStudent[student.id]" (click)="saveEditedStudent(student)">
            Save
          </ion-button>
          <ion-button slot="end" *ngIf="isEditingStudent[student.id]" (click)="cancelEditStudent(student)">
            Cancel
          </ion-button>
          <ion-button slot="end" (click)="deleteStudent(student)">
            Delete
          </ion-button>

          <!-- Student Edit Input -->
          <ion-input *ngIf="isEditingStudent[student.id]" [(ngModel)]="editedStudentData[student.id].name" placeholder="Edit student name"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
