<ion-header>
  <ion-toolbar>
    <ion-title>{{ isRegistering ? 'Register' : 'Login' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Register Form -->
  <form *ngIf="isRegistering" (submit)="register()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="registerName" name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="registerEmail" name="registerEmail" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="registerPassword" name="registerPassword" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top">Register</ion-button>
  </form>

  <!-- Login Form -->
  <form *ngIf="!isRegistering" (submit)="login()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="loginEmail" name="loginEmail" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="loginPassword" name="loginPassword" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top">Login</ion-button>
  </form>

  <ion-button expand="block" fill="clear" (click)="toggleMode()">
    {{ isRegistering ? 'Already have an account? Login' : "Don't have an account? Register" }}
  </ion-button>
</ion-content>
